* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
    color: black;
    font-family: 'Lato';
}

html {
    font-size:100%; 
}

body { 
    min-height: 100vh;
    font-size: 18px;

    @include media-breakpoint-down(md){
        font-size: 14px;
    }
}

ul, ol, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

ul li, ol li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.hidden {
    display: none;
}