// Colors
$primary-color:#EAE8E1;
$secondary-color: #25282A;
$accent-color-1: #002D72;

// Header | Footer
$header-padding-y: 60px;
$header-padding-x: 0px;
$footer-padding: 90px;
$logo-padding: 0px;

// Slider
$arrow-size: 0px;