{% extends "base.twig" %}

{% block content %}

	{# Main message #}
	<div class="container auto-py-100">
		<div class="sr-slice-down">
			{{ page.main_message }}
		</div>
	
		{# Tags #}
		{% include 'partial/tags.twig' with {words: page.main_key_words} %}
	</div>


	{# Main Slider #}
	<div class="main-slider">
		{% include 'components/slick.twig' with { 
			key: "banner", 
			items: banner.image_slider, 
			slick_component: "sliders/fullscreen_image.twig",
			className: "big-dots bottom-dots"
		} %}
	</div>

	{# Instagram #}
	{% include 'partial/instagram.twig' with {data: instagram, boxName: "auto-pb-100"} %}

	{# Get In Touch #}
	{# {% include 'partial/get_in_touch.twig' with {contact: contact} %} #}

{% endblock %}
