/* Buttons variables */
$btn-py: 15px;
$btn-px: 40px;

.call-to-action{
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  padding: $btn-py $btn-px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;

  &.pink_white{
    background-color: #FF296E;
    color: white;
  }

}