{# Top menu desktop #}
<div class="main-top-desktop container d-none d-md-block">
  <div class="header-box">
    <div class="d-flex justify-content-between align-items-center">
        <a class="logo-anchor" href="/">
          <img class="main-logo black" src="{{ site.theme.link }}/boilerplate/public/img/logo-black.svg" alt="">
        </a>
        <div class="menu-container">
          {% include "menu.twig" with {'items': items, className: "inline-menu main-menu"} %}
        </div>
    </div>
  </div>
</div>