{# Top Menu Mobile #}
<div class="main-top-mobile menu-bar-reduced d-flex d-md-none flex-nowrap justify-content-between align-items-center">
  <a href="#" class="mobile-bars-anchor mobile-icon">
    <i class="fas fa-bars"></i>
  </a>
  <a href="/">
    <img class="main-logo black" src="{{ site.theme.link }}/public/img/logo-white.svg" alt="VonSite">
  </a>
  {% include "partial/shop-links.twig"%}
</div>