{# Sticky Mobile  #}
<div class="sticky-mobile menu-bar-reduced d-flex d-md-none flex-nowrap justify-content-between align-items-center px-4 py-2">
  <a class="d-block" href="/">
    <img class="d-block main-logo black" src="{{ site.theme.link }}/boilerplate/public/img/logo-black.svg" alt="VonSite">
  </a>

  {# Bar icon #}
  <div class="collapsed" type="button" data-toggle="collapse" data-target="#collapse-mobile-menu" aria-expanded="false" aria-controls="collapse-mobile-menu">
    <span class="mobile-bars-anchor mobile-icon">
      <i class="fas fa-bars"></i>
    </span>
  </div>
</div>

{# Menu #}
<div id="collapse-mobile-menu" class="collapse">
  <div class="menu-container">
    {% include "colapsed-menu.twig" with {'items': items, className: "inline-menu main-menu"} %}
  </div>
</div>