{# Sticky Desktop  #}
<div class="sticky-desktop menu-bar-reduced d-none d-md-flex justify-content-between align-items-center">
  <div style="width: 66px; heigth: 66px;"></div>
  {% include "menu.twig" with {'items': items, className: "inline-menu main-menu"} %}
  {% include "partial/shop-links.twig" %}
</div>