footer.footer{
  
  .footer-box{
    background-color: black;
    padding: $footer-padding;
  }

  .sphere-logo{
    width: 150px;
    height: auto;
  }

  .copyright{
    margin: 40px 0 0 0;
  } 
}