footer.footer{
  background-color: rgba(0,0,0,0.9);
  .container{
    @include media-breakpoint-down(lg){
      max-width: 100%;
    }
  }

  .footer-box{
    padding: $footer-padding 0;

    @include media-breakpoint-down(md){
      padding: $footer-padding/2 0;
      
      .footer-menu{
        margin-bottom: 45px;  
      }
    }
  }

  .sphere-logo{
    width: 150px;
    height: auto;
  }

  .copyright{
    margin: 40px 0 0 0;
  } 
}