// Menu bar variables
$reduced-height: 40px;
$reduced-logo-height: 30px;

.inline-menu{
  list-style: none;
  text-align: center;
  margin-bottom: 0;

  li{
    display: inline-block;
    margin: 10px 0;
    position: relative;
    font-size: 0;

    a{
      display: inline-block;
      text-transform: uppercase;
      padding: 0 20px;
      font-size: 15px;
      text-decoration: none;
      
      @include media-breakpoint-down(md){
        padding: 0 10px;
        font-size: 12px;
      }
    }

    &:not(:last-child):after{
      content: "";
      position: absolute;
      top: -4px;
      right: -4px;
      display: block;
      height: 100%;
      width: 1px;
      background-color: black;
    }

    &:last-child{
      a{
        padding-right: 0;
      }
    }
  }  
}

/** Sticky menu */
#sticky-container-sticky-wrapper{
  opacity: 0;
  z-index: 1000;
  position: absolute;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  width: 100%;
  visibility: hidden;

  &.is-sticky{
    opacity: 1;
    visibility: visible;
  }

  // Id for main sticky container. Use it in toyu markup
  #sticky-container{
      background-color: white;
      
      &.sticky-on .nav-main .wrapper{
          display: block!important;
      }
  }
  
}

.menu-bar-reduced{
  .shop-menu a, 
  .mobile-bars-anchor{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #d7d7d7;
    cursor: pointer;
  }

  .main-logo {
    height: $reduced-logo-height;
    width: auto;
  }

  @include media-breakpoint-down(md) {
    .shop-menu a,
    .mobile-bars-anchor {
      border-left-width: 0px;
    }
  }
}

.admin-bar{
  // Last WP vertion not fixed admin bar. No need padding on sticky
  #sticky-container.enabled-admin-padding{
      padding-top: 32px;

      @media (max-width: 768px){
        padding-top: 46px;
      }
      @media (max-width: 600px){
        padding-top: 0px;
      }
  }
}