// MOVER A COMPONENTS.scss???
.social-links{
  a{
    display: inline-block;
    &:not(:last-child){
      margin-right: 20px;
    }

    i{
      font-size: 20px;
    }
  }

  &.sphere-white-icon{
    a.icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      
      i{
        color: black;
      }
    }
  }
}

.pipe{
  width: 2px;
  height: 30px;
  margin: 0 20px;

  &.white-pipe{
    background-color: white;
  }
}

.gm-vector-icon{
  width: 75px;
  height: auto;
  margin: 0 20px; 
  
}