<div class="half-background row no-gutters {{ className }}">
  {% set offset = right ? 'offset-md-12' : '' %}
  {% set classes = 'col-md-12 ' ~ offset %}

  <div class="{{classes}} col-bg" style="background-image: url('{{bg}}')"></div>
</div>