<div class="social-links d-flex align-items-center {{ className }}">
  <a class="" href="#">
    <i class="fab fa-facebook-square"></i>
  </a>
  <a class="" href="#">
    <i class="fab fa-twitter"></i>
  </a>
  <a class="" href="#">
    <i class="fab fa-instagram"></i>
  </a>
</div>